.App {
  text-align: center;
  max-width: 792px;
  width: 60%;
  margin: auto;
}

.selection-div {
  position: relative;

  .selection-choices-div {
    display: flex;
    justify-content: center;
    align-items: center;
    &.selected {
      opacity: 0.5;
      pointer-events: none;
    }
  
    .play-icon {
      cursor: pointer;
      margin-right: 2rem;
      border-radius: 60%;
      &:hover{
        background-color: #c9e0ec;
        transition-duration: 1.5s;
        cursor: pointer;
        -webkit-animation: tada .5s;
          animation: tada .5s;
      }
    }
  
    .icon-image {
      transform: rotate(-20deg);
    }
  }

  .next-button-div {
    position: absolute;
    top: 50%;
    left: 42%;
    opacity: 1;
    z-index: 1;
    .next-round-button {
      color: white;
      background-color: #0ebd7d !important;
      border: none;
      border-radius: 5px;
      font-size: 17px;
      padding: 6px 18px;
      box-shadow: #0c7150 3px 4px 6px 0px;
    }
  }
}

.playing-area-div {
  height: 500px;
}

.playing-area-div {
  display: flex;
  justify-content: space-around;
}

.shake-hand-image {
  padding-top: 95px;
  margin-bottom: 60px;
  &.right {
    transform: scaleX(-1);
    -webkit-animation: shake-right 1s;
      animation: shake-right 1s;
  }
  &.left {
    -webkit-animation: shake-left 1s;
    animation: shake-left 1s;
  }
}

.chosen-hand-image {
  padding-top: 95px;
  margin-bottom: 60px;
  &.right {
    transform: scaleX(-1);
    &.winner {
      -webkit-animation: winner-right 0.5s;
        animation: winner-right 0.5s;
        animation-delay: 0.5s;
    }
  }
  &.left {
    &.winner {
      -webkit-animation: winner-left 0.5s;
        animation: winner-left 0.5s;
        animation-delay: 0.5s;
    }
  }
}

.winner-div {
  position: absolute;
  top: 425px;
}

@keyframes winner-left {
  50%, 90% {transform: translate3d(80%, 0, 0);}
}

@keyframes tada {
  0% {transform: scale(1);} 
  10%, 20% {transform: scale(0.9) rotate(-3deg);} 
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
  40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
  100% {transform: scale(1) rotate(0);} 
}

@keyframes shake-left {
  10%, 90% {transform: translate3d(0, -10px, 0);}
  20%, 80% {transform: translate3d(0, 20px, 0);}
  30%, 50%, 70% {transform: translate3d(0, -40px, 0);}
  40%, 60% {transform: translate3d(0, 40px, 0);}
}

@keyframes shake-right {
  10%, 90% {transform: translate3d(0, -10px, 0) scaleX(-1);}
  20%, 80% {transform: translate3d(0, 20px, 0) scaleX(-1);}
  30%, 50%, 70% {transform: translate3d(0, -40px, 0) scaleX(-1);}
  40%, 60% {transform: translate3d(0, 40px, 0) scaleX(-1);}
}

@keyframes winner-right {
  50%, 90% {transform: translate3d(-80%, 0, 0) scaleX(-1);}
}